pip==23.0.1
Flask
Gunicorn
requests
google-cloud-dialogflow
pymongo
spacy
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.0.0/es_core_news_sm-3.0.0.tar.gz

